<ion-text color="dark">
  <h1 id="titulo">Cuentas por cobrar</h1>
  <ion-header>
    <ion-toolbar>
      <ion-title>Saldo</ion-title>
      <ion-title>$2000</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-text>

<ion-content>

  <ion-list>

    <!-- Encabezados de la tabla -->
    <ion-item-group>
      <ion-item>
        <ion-label>Días</ion-label>
        <ion-label>Fecha</ion-label>
        <ion-label>Importe</ion-label>
        <ion-label>Descripción</ion-label>
        <ion-label>Forma de egreso</ion-label>
        <ion-label>Importe</ion-label>
        <ion-label>Saldo</ion-label>
      </ion-item>
    </ion-item-group>

    <!-- Datos de la tabla -->
    <ion-item-group>
      <ion-item>
        <ion-label>1</ion-label>
        <ion-label>06/03/2024</ion-label>
        <ion-label>$100</ion-label>
        <ion-label>Comida</ion-label>
        <ion-label>Contado</ion-label>
        <ion-label>$500</ion-label>
        <ion-label>-400</ion-label>
      </ion-item>
    </ion-item-group>

  </ion-list>

</ion-content>
