<ion-text color="dark">
  <h1 id="titulo">Cuentas por pagar</h1>
  <ion-header>
    <ion-toolbar>
      <ion-title>Saldo</ion-title>
      <ion-title>$2000</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-text>
<ion-content>

  <ion-list>
    <!-- Fila de la tabla -->
    <ion-item-group>
      <ion-item>
        <ion-label> Fecha</ion-label>
        <ion-label>NOMBRE</ion-label>
        <ion-label>No. de Factura</ion-label>
        <ion-label>Importe total</ion-label>
        <ion-label>Saldo Actual</ion-label>
        <ion-label>Categoría</ion-label>
      </ion-item>

      <!-- Datos de la tabla -->
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="2">06/07/2024</ion-col>
            <ion-col size="2">TDC STORI</ion-col>
            <ion-col size="2">0.00</ion-col>
            <ion-col size="2">0.00</ion-col>
            <ion-col size="2">0.00</ion-col>
            <ion-col size="2">Tarjeta de crédito</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="2">06/07/2024</ion-col>
            <ion-col size="2">TDC DEP CPP</ion-col>
            <ion-col size="2">0</ion-col>
            <ion-col size="2">0.00</ion-col>
            <ion-col size="2">0.00</ion-col>
            <ion-col size="2">Tarjeta departamental</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item-group>

  </ion-list>

</ion-content>
