<ion-tabs id="tabs" main color="success">
  <ion-tab-bar  slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="clipboard"></ion-icon>
     <!--Reporte--> 
    </ion-tab-button>


   <ion-tab-button tab="accounts">
      <ion-icon name="card"></ion-icon>
      <!--  Mis cuentas -->
    </ion-tab-button> 

    <ion-tab-button tab="cuentasxp">
      <ion-icon name="calculator-outline"></ion-icon>
      <!--  Cuentas por pagar -->
    </ion-tab-button> 

    <ion-tab-button tab="cuentasxc">
      <ion-icon name="calculator-outline"></ion-icon>
      <!--  Cuentas por cobrar -->
    </ion-tab-button> 

    <!--Boton-->
    <ion-fab-button color="success" id="open-action-sheet">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
    <ion-action-sheet trigger="open-action-sheet" header="Agregar" [buttons]="accionesAgregar" (didDismiss)="logResult($event)"></ion-action-sheet>
  
   
    <ion-tab-button tab="categories">
      <ion-icon name="apps"></ion-icon>
      <!-- Mis categorias -->
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <!--Ajustes-->
    </ion-tab-button> 
    
    <ion-tab-button tab="transaction">
      <ion-icon name="apps"></ion-icon>
      <!-- Transacciones -->
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>