<ion-text color="dark">
  <h1 id="titulo">Transacciones</h1>
</ion-text>

<ion-content>

  <ion-header>
    <ion-toolbar>
      <ion-title>Número de cuenta/tarjeta</ion-title>
      <ion-title class="tarjeta">**** **** **** 1234</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Saldo Actual -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Saldo Actual</ion-card-title>
      <ion-card-subtitle class="saldo"><h2>$0.00</h2></ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- Tabla de Movimientos -->
  <ion-card>
    <ion-card-header color="light">Movimientos</ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header color="light">18 febrero 2024</ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>Descripción</ion-col>
        <ion-col class="derecha">Monto</ion-col>
      </ion-row>

      <!-- Datos de la Tabla -->
      <ion-row>
        <ion-col>Retiro efectivo</ion-col>
        <ion-col class="derecha">-$200</ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>
