/* nombre-pagina.page.scss */

ion-title {
    font-size: 24px;
  }
  
  .tarjeta {
    font-size: 20px;
    text-align: left;
  }
  
  .saldo {
    font-size: 24px;
  }
  
  .encabezado-tabla {
    background-color: #3498db;
    color: white;
  }
  
  .derecha {
    text-align: right; 
    font-size: 20px;
  }
  
  .titulo {
    font-size: 20px;
  }