<div class="ion-page">
  <ion-header>
    <h2 id="tituloMedio">Detalles de la cuenta</h2>

    <div id="contenedorBtnsForm">
    <ion-buttons>
      <ion-button  mode="ios" (click)="cerrarModal()" >
        <ion-icon slot="start" name="close"></ion-icon>
        Cerrar
      </ion-button> 
    </ion-buttons>
    </div>
        </ion-header>

        <ion-content>
            
            <ion-content>
        
              <ion-card id="contenedorDetalles">
                <ion-card-header color="light"><p id="tituloPequenoBold">{{informacionCuenta['cta_nom']}}</p></ion-card-header>
                <ion-card-content>
                  <p color="warning" id="tituloPequenoBold">Saldo actual: ${{informacionCuenta['cta_saldo']}}</p>
                </ion-card-content>
                
              </ion-card>
            
   

              <div id="contenedorDetalles">
              
             <h3 id="tituloPequeno"> Mis movimientos </h3>

             <ion-button (click)="obtenerTransaccionesAnteriores()" fill="clear" shape="round">
              Mes anterior
            </ion-button>
            <ion-button (click)="obtenerTransaccionesAnteriores(1)"   fill="clear" shape="round">
              Mes actual
            </ion-button>
          </div>
            
            <ion-content id="transaccionesMovimientos">
            
              <ion-card *ngFor="let transaccion of transaccionesCuenta">
                <ion-card-header color="light"><p id="tituloPequenoBold" >{{this.utilsSvc.formateaFechas(transaccion['trans_tpo'], 1)}}</p></ion-card-header>
                <ion-card-content>
                  <ion-row>
                    <ion-col>Descripción</ion-col>
                    <ion-col class="derecha">Monto </ion-col>
                  </ion-row>
            
                  <!-- Datos de la Tabla -->
                  <ion-row>
                    <ion-col>{{transaccion['trans_desc']}}</ion-col>
                    <ion-col class="derecha">${{transaccion['trans_cant']}}</ion-col>
                  </ion-row>
            
                </ion-card-content>
              </ion-card>

            </ion-content>
            
            </ion-content>
            
        </ion-content>
</div>