<div class="ion-page">
  <ion-header>
    <h2 id="tituloMedio">Mis transacciones</h2>
    <h3 id="tituloPequeno"> (Beta_v1)</h3>
    <div id="contenedorBtnsForm">
    <ion-buttons>
      <ion-button  mode="ios" (click)="cerrarModal()" >
        <ion-icon slot="start" name="close"></ion-icon>
        Cerrar
      </ion-button> 
    </ion-buttons>
    </div>
        </ion-header>

        <ion-content>
          <ion-list [inset]="true">
            <ion-item *ngFor="let transaccion of transaccionesCuenta">
              <ion-icon name="card" size="large"></ion-icon>  <ion-label id="tituloPequenoBold" slot="end">{{transaccion['trans_tmp']}} {{transaccion['trans_desc']}}</ion-label>
               <p slot="end" id="tituloChicoBold" >${{transaccion['trans_cant']}}</p>
            </ion-item>
            </ion-list>
        </ion-content>
</div>