
<div class="auth-form">

<ion-item class="custom-input" lines="none">
  <ion-icon slot="start" color="primary" name="pricetag-outline"></ion-icon>
  <ion-select 
  label="Seleccione la categoria que pertenece"
  [formControl]="form.controls.cat_tipo"
  label-placement = "floating"
  >
  <ion-select-option *ngFor="let tipo of cat_tipos" value="{{tipo.cat_tipo_id}}">{{tipo.cat_tipo_nom}}</ion-select-option>
</ion-select>
</ion-item>

<div class="validators" *ngIf="form.controls.cat_tipo.errors && form.controls.cat_tipo.touched ">
  <div *ngIf="form.controls.cat_tipo.errors?.['required']">Seleccione un tipo de categoria</div>
</div> 



<app-custom-input
icon="pricetag-outline" 
              type="text"
              [control]="form.controls.cat_nom"
              label="Ingrese el nombre de la categoria"
></app-custom-input>

<div class="validators" *ngIf="form.controls.cat_nom.errors && form.controls.cat_nom.touched ">
  <div *ngIf="form.controls.cat_nom.errors?.['required']">Se requiere un nombre</div>
  <div *ngIf="form.controls.cat_nom.errors?.['minlength']">Se requiere al menos cuatro caracteres</div>
</div>

{{ form.value | json }}

<div id="contenedorBtnsForm">
  <ion-buttons>
  <ion-button  mode="ios" (click)="cerrarModal()">
    <ion-icon slot="start" name="close-outline"></ion-icon>
    Cancelar
  </ion-button> 
</ion-buttons>
<ion-buttons>
  <ion-button  mode="ios" (click)="enviar()" [disabled]="form.invalid"  >
    <ion-icon slot="start" name="checkmark"></ion-icon>
    Confirmar
  </ion-button> 
</ion-buttons>
</div>

</div>